<div class="contents row">
    <%= form_tag("/tweets/#{@tweet.id}", method: :patch ) do %>
        <h3>
            編集する
        </h3>
        <input type="text" name="recommend" value ="<%= @tweet.recommend %>" placeholder="Recommend Item" autofocus="true">
        <textarea name="reason" placeholder="Why" rows="10" cols="30"><%= @tweet.reason %></textarea>
        <input type="submit" value="SEND">
    <% end %>
</div>